



<section class="contact-form">
    <div class="container">
        <div class="form-box">
            <div class="first-text">
                <p>Contact us</p>
                <div></div>
            </div>
            <form id="comment_form">
                <div class="form name">
                    <label for="comment_name">Your Name*</label>
                    <input id="comment_name" type="text" autocomplete="name" required>
                </div>
                <div class="form email">
                    <label for="comment_email">Your Email*</label>
                    <input id="comment_email" type="email" autocomplete="email" required>
                </div>
                <div class="form phone">
                    <label for="comment_phoneNumber">Phone Number</label>
                    <input id="comment_phoneNumber" type="tel" autocomplete="tel">
                </div>
                <div class="form company">
                    <label for="comment_company">Company (optional)</label>
                    <input id="comment_company" type="text">
                </div>
                <div class="form text">
                    <label for="comment_text">Write Something</label>
                    <textarea id="comment_text" row="4" required></textarea>
                </div>
            </form>
            <div class="checkbox">
                <input id="remember-me" type="checkbox">
                <label for="remember-me">Save my name, email, and website in this browser for the next time I comment</label>
            </div>
            <button class="btn-theme">Submit</button>
        </div>
    </div>
</section>