@model SignUpViewModel

<section class="register-form">
    <div class="container">
        <div class="form-box">
            <div class="first-text">
                <p>Please Register Your New Account</p>
            </div>

            <form method="post" id="register_new_form" novalidate>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form">
                    <label asp-for="FirstName">First Name*</label>
                    <input asp-for="FirstName" type="text" >
                    <small class="text-danger"><span asp-validation-for="FirstName"></span></small>
                </div>
                <div class="form">
                    <label asp-for="LastName">Last Name*</label>
                    <input asp-for="LastName" type="text" >
                    <small class="text-danger"><span asp-validation-for="LastName"></span></small>
                </div>
                <div class="form two-fr">
                    <label asp-for="StreetName">Street Name*</label>
                    <input asp-for="StreetName" type="text" >
                    <small class="text-danger"><span asp-validation-for="StreetName"></span></small>
                </div>
                <div class="form">
                    <label asp-for="PostalCode">Postal Code*</label>
                    <input asp-for="PostalCode" type="text" >
                    <small class="text-danger"><span asp-validation-for="PostalCode"></span></small>
                </div>
                <div class="form">
                    <label asp-for="City">City*</label>
                    <input asp-for="City" type="text" >
                    <small class="text-danger"><span asp-validation-for="City"></span></small>
                </div>
                <div class="form">
                    <label asp-for="PhoneNumber">Mobile (optional)</label>
                    <input asp-for="PhoneNumber" type="tel">
                </div>
                <div class="form">
                    <label asp-for="Company">Company (optional)</label>
                    <input asp-for="Company" type="text" >
                </div>
                <div class="form two-fr">
                    <label asp-for="Email">E-mail*</label>
                    <input asp-for="Email" type="email" >
                    <small class="text-danger"><span asp-validation-for="Email"></span></small>
                </div>
                <div class="form two-fr">
                    <label asp-for="Password">Password*</label>
                    <input asp-for="Password" type="password">
                    <small class="text-danger"><span asp-validation-for="Password"></span></small>
                </div>
                <div class="form two-fr">
                    <label asp-for="ConfirmPassword">Confirm Password*</label>
                    <input asp-for="ConfirmPassword" type="password">
                    <small class="text-danger"><span asp-validation-for="ConfirmPassword"></span></small>
                </div>
                <div class="form two-fr">
                    <label asp-for="ProfileImage">Upload Profile Image (optional)</label>
                    <input asp-for="ProfileImage" type="text">
                </div>


                <div class="checkbox">
                    <input id="remember-me" type="checkbox">
                    <label for="remember-me">Save my name, email, and website in this browser for the next time I comment</label>
                </div>
                <button class="btn-theme" type="submit">Submit</button>

            </form>
        </div>
    </div>
</section>