

<section class="newsletter">
    <div class="container">
        <img src="images/placeholders/1920x300.svg" alt="">
        <div class="mail">
            <form class="subscribe-now">
                <input id="subscribe_email" type="email" autocomplete="email" placeholder="Enter your mail here">
                <button type="submit">SUBSCRIBE FOR NEWSLETTER</button>
            </form>
        </div>
    </div>
</section>