<section class="register-form">
    <div class="container">
        <div class="form-box">
            <div class="first-text">
                <p>Please Register Your New Account</p>
                <div></div>
            </div>
            <form id="register_new_form">
                <div class="form">
                    <label for="register_first_name">First Name*</label>
                    <input id="register_first_name" type="text" autocomplete="given-name" required>
                </div>
                <div class="form">
                    <label for="register_last_name">Last Name*</label>
                    <input id="register_last_name" type="text" autocomplete="family-name" required>
                </div>
                <div class="form two-fr">
                    <label for="register_street_name">Street Name*</label>
                    <input id="register_street_name" type="text" autocomplete="street-address" required>
                </div>
                <div class="form">
                    <label for="register_postal_code">Postal Code*</label>
                    <input id="register_postal_code" type="text" autocomplete="postal-code" required>
                </div>
                <div class="form">
                    <label for="register_city">City*</label>
                    <input id="register_city" type="text" autocomplete="city">
                </div>
                <div class="form">
                    <label for="register_phone">Mobile (optional)</label>
                    <input id="register_phone" type="tel">
                </div>
                <div class="form">
                    <label for="register_company">Company (optional)</label>
                    <input id="register_company" type="text" autocomplete="organization">
                </div>
                <div class="form two-fr">
                    <label for="register_email">E-mail*</label>
                    <input id="register_email" type="email" autocomplete="email" required>
                </div>
                <div class="form two-fr">
                    <label for="register_password">Password*</label>
                    <input id="register_password" type="password" required>
                </div>
                <div class="form two-fr">
                    <label for="register_confirm_password">Confirm Password*</label>
                    <input id="register_confirm_password" type="password" required>
                </div>
                <div class="form two-fr">
                    <label for="register_image">Upload Profile Image (optional)</label>
                    <input id="register_image" type="text">
                </div>
            </form>
            <div class="checkbox">
                <input id="remember-me" type="checkbox">
                <label for="remember-me">Save my name, email, and website in this browser for the next time I comment</label>
            </div>
            <button class="btn-theme">Submit</button>
        </div>
    </div>
</section>