@model GridCollectionItemViewModel


<a asp-controller="products" asp-action="details" asp-route-id="@Model.Id" class="card">
    <div class="card-menu">
        <img src="@Model.ImageUrl" alt="@Model.Title">
        <i class="fa-regular fa-cart-plus"></i>
        <h3 class="box-title">@Model.Title</h3>
        <p class="box-price"><del></del>$@Model.Price</p>
    </div>
</a>
