<header>
    <div class="container">
        <img class="logo" src="images/logo.svg" alt="">

        <div id="menu">
            <nav class="menu-links">
                <a class="link" asp-controller="Home" asp-action="Index">HOME</a>

                @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <a class="link" asp-controller="Products" asp-action="Index">PRODUCTS</a>
                }
                else
                {
                    <a class="link" asp-controller="Products" asp-action="AllProducts">PRODUCTS</a>
                }

                <a class="link" asp-controller="Contacts" asp-action="Index">CONTACT</a>
            </nav>
            <nav class="menu-icons">

                <a class="link" asp-controller="Products" asp-action="Search"><i class="fa regular fa-search"></i></a>

                @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <a class="link" asp-action="index" asp-controller="Admin">Admin</a>
                }

                @if(signInManager.IsSignedIn(User))
                {
                    <a class="link" asp-action="index" asp-controller="myAccount">@User.Identity?.Name</a>
                    <a class="link" asp-action="index" asp-controller="logout">LOGOUT</a>
                }
                else
                {
                    <a class="link" asp-controller="Account" asp-action="Login">LOGIN</a>
                }

                <a class="link" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>


            </nav>
        </div>
        <div class="toggle">
            <button class="btn-white"><i class="fa-regular fa-bars"></i></button>
        </div>
    </div>
</header>