@model ProductEntity


<section class="info">
    <div class="container">
        <div class="info-buttons">
            <button class="btn-theme">DESCRIPTION</button>
            <button class="btn-white">ADDITIONAL INFO</button>
            <button class="btn-white">REVIEWS</button>
            <button class="btn-white">SHIPPING & DELIVERY</button>
        </div>
        <h2>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</h2>
        <div class="info-text">
            <p>@Model.Description</p>
            <img src="images/placeholders/469x356.svg" alt="">
        </div>
        <div class="line"></div>
    </div>
</section>