        <section class="product-showcase">
            <div class="container">
                <div class="images">
                    <a href="#"><img src="images/placeholders/200x122.svg" alt=""></a>
                    <a href="#"><img src="images/placeholders/200x122.svg" alt=""></a>
                    <a href="#"><img src="images/placeholders/200x122.svg" alt=""></a>
                    <a href="#"><img src="images/placeholders/200x122.svg" alt=""></a>
                    <a href="#"><img src="images/placeholders/200x122.svg" alt=""></a>
                </div>
            </div>
        </section>