<section>
    <div class="container">
        <div>
            <a asp-controller="Products" asp-action="AddProduct">Add new Product</a>
        </div>
        <div>

        </div>
    </div>
</section>