@{
    var products = await productService.GetAllAsync();
}

<section class="all-products-admin">

    <div class="new-product">
        <a asp-controller="Products" asp-action="AddProduct">Add new Product</a>
    </div>

    <div class="container">
        <div class="names">
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
            <p>Article-number</p>
            <p>Image</p>
        </div>
        @if (products != null)
            foreach (var product in products)
            {
                <div class="product">
                    <div>@product.Name</div>
                    <div>@product.Category </div>
                    <div>$@product.Price</div>
                    <div>@product.Id</div>
                    <div>@product.ImageUrl</div>
                </div>
            }
    </div>
</section>