@model ProductEntity

<section class="product-show">
    <div class="container">
        <div class="product-images">
            <div>
                <img src="/images/products/@Model.ImageUrl" alt="@Model.Name" class="firstImage">
            </div>
            <a href="#"><img src="images/placeholders/120x113.svg" alt="no image found"></a>
            <a href="#"><img src="images/placeholders/120x113.svg" alt="no image found"></a>
            <a href="#"><img src="images/placeholders/120x113.svg" alt="no image found"></a>
            <a href="#"><img src="images/placeholders/120x113.svg" alt="no image found"></a>
        </div>
        <div class="product-info">
            <h2>@Model.Name</h2>
            <p>@Model.Description</p>
            <div class="line"></div>
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <a class="reviews" href="#">16 Reviews</a>
            </div>
            <div class="price">$@Model.Price.ToString("0.##")</div>
            <div class="add-cart">
                <button class="btn-white small">-</button>
                <button class="btn-white small" disabled>2</button>
                <button class="btn-white small">+</button>
                <button class="btn-theme">Add to Cart <span class="fa-regular fa-cart-plus"></span></button>
            </div>
            <div class="available">
                <i class="fa-solid fa-circle red"></i>
                <i class="fa-solid fa-circle yellow"></i>
                <i class="fa-solid fa-circle green"></i>
                <span>SKU: N/A</span>
            </div>
            <div class="wishlist">
                <button class="btn-white">Add to wishlist</button>
            </div>
            <div class="category">
                <p>Category: <span>@Model.Category</span></p>
            </div>
        </div>
    </div>
</section>