        <section class="related-products"> 
            <div class="container">
                <h2>related Products</h2>
                <div>
                    <div class="card">
                        <div class="card-menu">
                            <a href="#"><img src="images/placeholders/270x295.svg" alt=""></a>
                            <h3 class="box-title">Apple watch series</h3>
                            <p class="box-price"><del>$120.00 </del>$30.00</p>
                        </div>
                        <div class="card-menu">
                            <a href="#"><img src="images/placeholders/270x295.svg" alt=""></a>
                            <h3 class="box-title">Apple watch series</h3>
                            <p class="box-price"><del></del>$30.00</p>
                        </div>
                        <div class="card-menu">
                            <a href="#"><img src="images/placeholders/270x295.svg" alt=""></a>
                            <h3 class="box-title">Apple watch series</h3>
                            <p class="box-price"><del></del>$30.00</p>
                        </div>
                        <div class="card-menu last">
                            <a href="#"><img src="images/placeholders/270x295.svg" alt=""></a>
                            <h3 class="box-title">Apple watch series</h3>
                            <p class="box-price"><del></del>$30.00</p>
                        </div>
                    </div>
                    <p></p>
                </div>
            </div>
        </section>